:root {
    --primary-color: #d0c101;
    --secondary-color: blanchedalmond;
    --accent-color1: #4A412A;
    --accent-color2: lime;
    /* as you can see, i have impecable taste in design */
    --heading-font: "Helvetica", "Comic Sans MS", sans-serif;
    --body-font: "Times New Roman", "Arial", serif
    /* i dont know what im doing regarding fonts, i dont know why there are three entries, so im winging it, it will be hilarious to see whatever happens here */
    /* so, somehow swapping helvetica and cs makes sans headings. awesome, but why does this work? */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent-color1);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent-color1);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    /* position: relative; */
    /* opacity: 1.0; */
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent-color1);
    color: var(--secondary-color);
}

.hero article {
    display: block;
    position: absolute;
    background-color: var(--accent-color2);
    margin-top: 300px;
    justify-self: center;
    align-self: center;
}

.hero article img {
    float: right;
    width: 125px;
}



header {
    background-color: var(--primary-color);
    position: relative;
    height: 200px;
    padding: 10px;
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr; */
    justify-items: center;
    align-items: center;
}

header img {
    /* grid-column: 0; */
    position: absolute;
    width: auto;
    height: 100%;
    justify-self: flex-start;
    padding: 1rem;
    
}



header nav {
    /* position: absolute; */
    justify-self: flex-end;
    justify-content: space-between;
    grid-column: span 4;
    width: auto;
    grid-template-columns: 1fr 1fr;
    /* gap: 1rem; */
}

header nav a {
    margin: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--accent-color1);
}

main {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

section {
    /* margin-top: 100px; */
    margin: 1rem;
}

.history, .contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: auto 1fr; */
    justify-items: center;
    align-items: center;
    padding: 1rem;
    row-gap: 0.5rem;
}

h2 {
    background-color: var(--primary-color);
}

.history h2, .contact h2 {
    display: block;
    grid-column: span 3;
    
    width: 100%;
    text-align: center;
    height: 2rem;
    /* padding: 1rem; */
}

.history p, img {
    margin-top: 10px;
}

.adventure ,.employee {
    display: flex;
    justify-content: space-between;
    position: relative;
}

figure {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}

section h2 {
    
    /* display: block; */
    /* justify-content: center; */
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}

.adventure figure img {
    position: relative;
    /* display: block; */
    height: 100px;
    width: auto;
    /* margin: 0 auto; */
}

footer nav{
    display: flex;
    flex-direction: row-reverse;
}

.paddr {
    text-align: center;
    margin: 0 auto;
}

.contact, .rad {
    display: grid;
    grid-template-columns: 1fr auto;
    /* grid-template-rows: 1fr; */
    /* gap: 1rem; */
}

.contact {
    position: relative;
    gap: 1rem;
}



iframe {
    width: 300px;
    height: 300px;
}

.rad {
    /* position: absolute; */
    /* width: auto; */
    text-align: left;
    justify-content: center;
    font-size: 0.8rem;
    
}

.rad input {
    width: 20px;
}

/* .contactform, .rad {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

table {
    border-collapse: collapse;
    letter-spacing: 1px;
    
}

tbody {
    text-align: left;
}

th, td {
    padding-top: 0.5rem;
}

button {
    background-color: var(--primary-color);
    color: var(--accent-color1);
    font-size: 1.5rem;
    border: 2px solid var(--accent-color1);
    font-weight: 700;
}

button:hover {
    background-color: var(--accent-color1);
    color: var(--secondary-color);
    border-color: var(--accent-color1);
}

.employee figure img {
    position: relative;
    height: auto;
    width: 200px;
}

.employee figure {
    justify-content: flex-start;
}

thead th h2 {
    background-color: #0000;
    font-size: 1rem;
}

.indh th {
    background-color: var(--accent-color2);
}

.ind {
    background-color: var(--secondary-color);
    border: 2px solid var(--accent-color1);
}

.indh figure img {
    display: block;
    width: 30rem;
    height: auto;
    
}

.indh figure {
    align-items: center;
}

.indh a {
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--accent-color1);
    font-family: var(--heading-font);
    font-weight: 900;
}

.indh figure figcaption {
    display: block;
    position: absolute;
    
    width: auto;
    margin-bottom: 15rem;
    
    
}

.about {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--accent-color2);
    padding-bottom: 0.75rem;
    align-items: center;

}

.about h2 {
    grid-column: span 2;
    text-align: center;
    /* border-bottom: 2px solid var(--secondary-color); */
    border-top: 2px solid var(--secondary-color);
}

.about img {
    width: 175px;
    height: auto;
    justify-self: flex-end;
    /* padding: 0.75rem; */
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.about p {
    justify-self: flex-start;
    align-self: center;
}