:root {
    --im-wid: 150px;
    --aside-col: rgb(42, 30, 53);
}

main {
    max-width: 300px;
    margin: 1rem;
}

main img {
    width: var(--im-wid);
    height: auto;
}

nav {
    display: flex;
    background-color: darkblue;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    margin: 5rem;
    text-decoration: none;
}

h1 {
    color: darkblue;
    border-bottom: 5px dotted indianred;
}
/* commengt oo */
main img {
    width: var(--im-wid);
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

p {
    padding: 0;
}

aside {
    width: 30rem;
    box-sizing: border-box;
    margin: 0;
    border: 5px double darkturquoise;
    padding: 15px;
    background-color: navajowhite;
    color: var(--aside-col);
}
aside h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 5rem;
}
aside img {
   margin: 0 auto;
   display: block;
   width: 200px;
   height: auto;
   box-sizing: border-box;
   text-align: center;
   
}

footer {
    margin-top: 10px;
    border-top: 5px dotted navy;
    text-align: center;
    
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.grid main {
    order: 2;
}