.callout {
	box-sizing: border-box;
    background-color: royalblue;
    color: antiquewhite;
    max-width: fit-content;
    max-height: fit-content;
    margin: 16px;
    border: 16px;
    padding: 20px 50px 50px;
    
}

.callout img {
    box-sizing: border-box;
	float: right;
    width: 150px;
    height: auto;
    max-width: fit-content;
    max-height: auto;
    margin: 8px 16px 32px;
    border: 5px solid black;
    position: relative;
    
}

blockquote {
	margin: 16px;
    padding: 5px;
}

cite {
	display: block;
    border-top: 5px solid antiquewhite;
    padding-top: 16px;
    text-align: right;
    color: antiquewhite;
}